<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de nosotros</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link type="text/css" href="../static/css/plantilla_padre.css" rel="stylesheet"/>
  </head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(12, 65, 16)" id="miBarra">
        <a class="navbar-brand" href="../">
          <img src="../static/img/image (2).png" class="img-fluid" alt="Responsive image" width="60" height="60">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="../inicio_sesion">Iniciar sesion</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../crear_cuenta">Crea una cuenta</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../Acerca_de_nosotros">Acerca de nosotros</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="container" id="contenido">
        <h1 id="titulo"><b>¿Que es Only Plants?</b></h1>
        <h4 id="preguntas">Only Plants es una página creada con el objetivo de incentivar el cultivo de plantas, mediante facilitar a las personas encontrar una planta que se ajuste a su estilo de vida</h4>
        <h1 id="titulo"><b>¿Por qu&eacute; incentivar el cultivo de plantas?</b></h1>
        <h4 id="preguntas">Ya que 4,7 millones de hectáreas al año fue la perdida neta de bosques entre 2010 y 2020</h4>
        <h1 id="titulo"><b>¿Cu&aacute;l es la utilidad de las plantas y por qu&eacute; son tan importantes?</b></h1>
        <h4 id="preguntas">Las plantas limpian el aire, y se sabe que el 99% de las presonas respiran aire contaminado</h4>
      </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>