<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion de Preferencias</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Preferencias</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>nombre</td>
                <td>dimensiones</td>
                <td>ciclo</td>
            </tr>
            {% if preferencia %}
            {% for p in preferencia %}
            <tr>
                <td>{{p.nombre}}</td>
                <td>{{p.dimensiones}}</td>
                <td>{{p.ciclo}}</td>
            </tr>
            {% endfor %}
            {% endif %}
            {% if dimensiones %}
                <td>nombre</td>
                <td>{{dimensiones}}</td>
                <td>{{ciclo}}</td>
            {% endif %}
        </tbody>
    </table>
</body>
</html>