{% extends "plantillaPadre.html" %}

{% block title %} Home {% endblock %}

{% block content %}
    
        <div class="row">
            <div class="col-md-2">
                <img src="../static/img/logo (2).png" class="img-fluid" alt="Responsive image" width="150" height="150">
            </div>
            <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">
                <h1>  </h1>
                <h1 id="titulo"> <b>Bienvenido a Only Plants </b></h1>
                <h1>   </h1>
            </div>
        </div>
    
    <h2>Comienza creando tus preferencias</h2>
    
{% endblock %}
