{% extends "plantillaPadre.html" %}

{% block title %} Perfil {% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-1">
        <img src="../static/img/ampolleta.png" class="img-fluid" alt="Responsive image" width="100" height="100">
    </div>
    <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">
        <h1>@{{ user.username }}</h1>
        <h2>Id: {{ user.id }}</h2>
    </div>
</div>
    <img src="../static/img/Imagen.png" class="img-fluid" alt="Responsive image" width="1400" height="300">
    <h1></h1>
    <h1></h1>
    <h1>Mis preferencias guardadas:</h1>
    <a class="btn btn-success"  href="../MisPreferencias" role="button">Mis preferencias</a>
{% endblock %}