{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link type='text/css' href='{% static "css/barra_navegacion" %}' rel='stylessheet'/>
</head>
<body>
    <h1>OnlyPlants</h1>
    {% include "barra_navegacion.html" %}
    {% block content %}

    {% endblock %}
    <script type='text/javascript' src='{% static "js/plantillaPadre" %}'></script>
    <p>Team OnlyPlants</p>
</body>
</html>